<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div
        class="login100-form-title"
        style="background-image: url(/assets/Loginfiles/images/bg-01.jpg)"
      >
        <span class="login100-form-title-1"> Sign Up </span>
      </div>
      <form class="login100-form validate-form">
        <div
          class="wrap-input100 validate-input m-b-26"
          data-validate="Username is required"
        >
          <span class="label-input100">Email</span>
          <input
            class="input100"
            type="text"
            name="email"
            placeholder="Enter email"
            required
          />
          <span class="focus-input100"></span>
        </div>
        <div
          class="wrap-input100 validate-input m-b-26"
          data-validate="Name is required"
        >
          <span class="label-input100">Name</span>
          <input
            class="input100"
            type="text"
            name="name"
            placeholder="Enter name"
            required
          />
          <span class="focus-input100"></span>
        </div>
        <div
          class="wrap-input100 validate-input m-b-18"
          data-validate="Password is required"
        >
          <span class="label-input100">Password</span>
          <input
            class="input100"
            type="password"
            name="password"
            placeholder="Enter password"
            required
          />
          <span class="focus-input100"></span>
        </div>
        <div
          class="wrap-input100 validate-input m-b-18"
          data-validate="Password is required"
        >
          <span class="label-input100">Re-Enter Password</span>
          <input
            class="input100"
            type="password"
            name="password1"
            placeholder="Re-Enter password"
            required
          />
          <span class="focus-input100"></span>
        </div>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn">Sign Up</button>
          <button class="login100-form-btn ml-3" (click)="login()">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
